<div class="container">
  <h2>Short URLs Table</h2>
  <div class="row mb-3">
    <div class="col-md-6">
      <button class="btn btn-primary" *ngIf="isUserLoggedIn()" (click)="openAddUrlModal()">Add New URL</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Original URL</th>
            <th>Short URL</th>
            <th *ngIf="isUserLoggedIn()">Actions </th>
          </tr>
        </thead>
          <tbody>
            <tr *ngFor="let url of shortUrls">
              <td>{{ url.id }}</td>
              <td class="url-cell"><a [href]="url.url" target="_blank">{{ url.url }}</a></td>
              <td class="url-cell"><a [href]="url.shortUrl" target="_blank">{{ url.shortUrl }}</a></td>
              <td class="action-cell" *ngIf="isUserLoggedIn()">
                <button class="btn btn-info btn-sm" (click)="viewDetails(url.id)" *ngIf="isUserLoggedIn()">
                  <i class="fa fa-info-circle"></i> Details
                </button>
                <button class="btn btn-danger btn-sm" (click)="deleteUrl(url.id)" *ngIf="isUserLoggedIn()">
                  <i class="fa fa-trash"></i> Delete
                </button>
              </td>
            </tr>
          </tbody>
          
      </table>
    </div>
  </div>
</div>
